.collapser {
    display: flex;
    flex-direction: column;
    width: 100%;

    &__title {
        font-family: Montserrat;
        font-size: 24px;
        font-weight: 700;
        line-height: 34.22px;
        max-width: 1023px;
        display: flex;
        justify-content: space-between;
        background: rgba(250, 95, 92, 0.949);
        padding: .5rem;
        border-radius: 5px 5px 0px 0px;
        color: whitesmoke;
        transition: .3s ease-in-out;

        svg {
            cursor: pointer;
            transition: .3s ease-in-out;
        }
    }

    &__text {
        max-width: 1023px;
        font-family: Montserrat;
        background: #efeeee;
        transform: scale(1,0) translateY(-100%);
        transition: .3s ease-in-out;
        height: 0px;
        opacity:0 ;
    }

    &.active {
        & .collapser__text {
            padding: .5rem;
            transform: scale(1,1) translateY(0px);
            height: 100%;
            opacity:1 ;
        }

        svg {
            transform: rotate(180deg);
        }
    }
}
