.flat {
   width: 100%;
   height: 100%;

   &__banner {
      position: relative;
      max-width: 1280px;
      height: 223px;
      box-shadow: 0px 0px 5px #181817;
      border-radius: 2rem;
      overflow: hidden;
      margin: 2rem auto;

      img {
          width: 100%;
          height: 100%;
      }
   }

   &__info {
      display: flex;
      justify-content: space-between;
   }

   &__infoHost {
      display: flex;
      font-family: "Montserrat";
      justify-content: space-between;
   }

   &__name {
      width: 70px;
      color: #FF6060;
   }

   &__title {
      color: #FF6060;
      font-family: Montserrat;
      font-size: 36px;
      font-weight: 500;
      text-align: left;
      margin-bottom: 1rem;
   }

   &__location {
      margin-bottom: 1rem;
   }

   &__pP {
      width: 3rem;
      height: 3rem;
      box-shadow: 0px 0px 5px;
      border-radius: 50%;

   }

   &__tags {
      display: flex;
      gap: 10px;
      p {
      border-radius: 2rem;
      padding: .5rem;
      text-align: center;
      width: 115px;
      gap: 0px;
      background: #FF6060;
      color: whitesmoke;
      font-size: 14px;
      font-weight: 700;
   }

   }

   &__dropDown {
      display: flex;
      flex-wrap: wrap ;
      justify-content: space-between;
   }

   &__dropdownDescription,
   &__dropdownEquipement {
      width: 47%;
      padding: 0;
      margin: 2rem auto;
      
   }

}

.about__content {
   padding: 0;
}
