.navigation {
    width: 1240px;
    margin: 2rem auto; 

    &__list, nav {
        display: flex;
        justify-content: space-between;
    }

    &__list li {
        padding-left: 2rem;
    }

    &__list li:nth-child(1) a{
        border-bottom: 1px solid black;
    }
}
