@mixin tablet {
    @media screen and (min-width: 768px) {
        @content;
    }
}

@mixin descktop {
    @media screen and (min-height: 1080px) {
        @content;
    }
}

.galerie {
    display: grid;
    border-radius: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;

    @include tablet {
        gap: 60px;
        padding: 50px;
        background: #F6F6F6;
        width: 100%;
    }

    @include descktop {
        max-width: 1440px;
        margin: 0 auto;
    }
}
